html, body, #app {
    min-width: 1400px;
    min-height: 800px;
    position: relative;
}

.page-box {
    display: flex;
    user-select: none;
}

.page {
    background-image: url('background.jpg');
    background-size: cover;
}

.border-b {
    border-bottom: solid 1px #666;
    padding-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.content-title,
.content-text {
    text-align: center;
}

.form-item {
    text-align: center;
}

.save,
.cancel {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete {
    background-color: #ff0000;
    /* float: right; */
}

/* .edit {
    float: left;
} */

.btn-box {
    /* height: 44px; */
    display: flex;
    justify-content: space-around;
}

.home-footer{
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    font-size: 12px;
    padding: 0 30px;
    text-align: center;
}
.home-footer,.home-footer a{
    color: #fff;
}

.home-footer a,.home-footer span{
    margin-right: 30px;
    display: inline-block;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

menu {
    background-color: #fff;
    padding: 20px 0;
    width: 220px;
    border-right: solid 1px #666;
    position: relative;
}

.add {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
    display: block;
}

menu ul {
    height: calc(100vh - 100px);
    overflow: auto;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

menu li {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-bottom: solid 1px #ced4da;
}

menu li.active {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.content {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: calc(100vw - 220px);
}

h2 {
    font-size: 24px;
    margin-top: 30px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.content input[type="text"] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 587px;
}
